.app {
  background-color: #e3e3e3;  
  width: 97%;
  height: 100%;
  padding: 25px 19px 25px 19px;
}

.navbar {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: right;
  border: 1px solid #e3e3e3; 
  text-align: right;
}

.contact {
  text-decoration: none;
  color: black;
  margin: 15px;
}

.btn {
  background-color: #ff9a3c;;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 5px 15px;
}

.btn:hover {
  cursor: pointer;
  background-color: #ff6f3c;
}

.main {
  padding-top: 110px;
  padding-left: 25px;
}

.make {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.create {
  margin-top: 5px;
  font-size: 20px;
}

.btn-2 {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #9ba6a5;
  background-color: #ff9a3c;
}

.btn-2:hover {
  cursor: pointer;
  background-color: #ff6f3c;
}
